@page
@model AlumnModel
@{
    ViewData["Title"] = "Alumnos";
}

<div class="text-center">
    <div class="w-full h-full flex flex-col items-center justify-center">
        <div id="tabulator-Table" class="w-full border border-gray-300 rounded-lg shadow-md bg-white"></div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Inicializar Tabulator
        fetch("/alumnos?handler=JsonData", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(Response => Response.json()).then(data => {
            console.log(data);
            var tabla = new Tabulator("#tabulator-Table", {
                data: data,
                layout: "fitDataFill", // Ajustar columnas a los datos
                pagination: "local", // Paginación local
                paginationSize: 10, // Filas por página
                classNames: {
                    table: "table table-bordered table-striped table-hover",
                },
                columns: [
                    { title: "ID", field: "id", width: 150 },
                    { title: "Nombre", field: "nombre", hozAlign: "left" },
                    { title: "Apellidos", field: "apellidos" },
                    { title: "Parcial 1", field: "parcial1", hozAlign: "center" },
                    { title: "Parcial 2", field: "parcial2", hozAlign: "center" },
                    { title: "Parcial 3", field: "parcial3", hozAlign: "center" },
                    { title: "Ext", field: "ext", hozAlign: "center" },
                    { title: "Promedio", field: "promedio", hozAlign: "center" }
                ],
            });
        });
    });
</script>